.card {
  border: 4px solid black;
  margin: 10px 5px;
}

.plan {
  border-top: 2px solid green; 
}

.proof {
  display: inline-block;
  width: auto;
  max-width: 5em;
  height: auto;
  max-height: 5em;
}
